/* nav {
	background: #74CCD3;
	background: -webkit-linear-gradient(to right, #6376C1, #74CCD3);
	background: linear-gradient(to right, #6376C1, #74CCD3);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
} */

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: #EEEEEE;
}

#mainNavbar .nav-link:hover {
    color: #00ADB5;
}

#mainNavbar .navbar-brand {
    color: #00ADB5;
	font-size: 1.5rem;
}

.navbar.scrolled {
    background: black;
    transition: background 500ms;
}

