.leftContainer {
  cursor: url("../../Assets/IMAGES/leftArrow.svg"), auto;
}

.rightContainer {
  cursor: url("../../Assets/IMAGES/rightArrow.svg"), auto;
  height: 100%;
}

h1 {
  color: white;
  padding: 5%;
}

.stories {
  margin-left: -100%;
}
